.faqSection{
    width: 1440;
    height: 878;
    padding: 96px 80px;
    /* background-color: aqua; */
    background-color: #FAFAFA;
}

.faqtitleContainer{
    text-align: center;
    margin: 0 256px;
    width: 768;
    height: 94;
    
    margin-bottom: 64px;
}
.faqtitleContainer h3{
    width: 768;
    height: 44;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* letter-spacing: -2%; Нет такого ищяк */
    /* letter-spacing: -0.02em; */
    text-align: center;
    color: rgba(24, 29, 39, 1);
    margin: 0;
    margin-bottom: 20px;
}
.faqSection .faqtitleContainer h3{
    letter-spacing: -0.02em;
}

.faqtitleContainer p{
    width: 768px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0;

    color: #535862;
}

.faqTable {
    width: 768px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 0 256px;
    height: 528px;
    padding-bottom: 0;
}


.faqElement {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #c2c2c233;
    /* padding-bottom: 32px; чтобы линия не липла к тексту, по желанию */

    /* 32px - 1px(border) = 31px */
    padding-bottom: 31px; /* чтобы линия не липла к тексту, по желанию */
}

  
.faqElement:last-child {
    border-bottom: none;
}


.faqElement h5, .faqElement p{
    margin: 0;
}

.faqElement:first-child{
    display: block;
    height: 108px !important;
}

.faqElement p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* line-height: 23px; */
    letter-spacing: 0;
    color: #535862;
    max-width: 720px;
    padding: 0;
}
.faqTable .faqElement p {
    padding-top: 8px;
}

.faqElement h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color:#181D27;
    margin-bottom: 8px;
    margin: 0;
    display: flex;
    margin-top: auto;
}

.faqElementTitle {
    align-items: center;
    justify-content: center;
    display: flex;
}
.faqElementTitle h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* letter-spacing: 0em; */
    color: #181D27;
}
.faqElementTitle img {
    margin-left: auto;
    width: 22px;
    height: 22px;
}