@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
button,a{
    cursor: url('../assets/Cursor.png'), auto;
}

a{
    text-decoration: none;
    color: #000;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    width: 1440px;
}

.navigation{
    display: flex;
    text-align: center;
    padding: 11px 0;
    color: #535862;
    margin: 0 114px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}


.navigation ul{
    padding: 0;
}

.listOfPages{
    user-select: none;
    list-style: none;
    display: flex;
    align-items: center;
}


.image{
    width: 31px;
    height: 19px;
    
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 11px;
}
.navBarBtn{
    display:flex;
    gap: 20px;
}

.listOfPages li:hover{
    color: #53389E;
}

.Applet{
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    line-height: Line height/text-md;
    letter-spacing: 0%;
    /* margin-right: 100px; */
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 773px;
}

.logo a{
    display: flex;
    height: 24px;
    width: 124px;
    justify-items: center;
    align-items: center;
}

.hero{
    position: relative;
    max-width: 1280px;
    max-height: 640px;
    width: 1280px;
    height: 640px;
    padding: 64px 80px 96px 80px;
}
.container{
    display: flex;
    width: 1280px;
    height: 640px;
    float: right;
    flex-wrap: wrap;
}
.imageWrapper{
    width: 560px;
    height: 640px;
    margin-left: auto;
    margin-right: 32px;
}

.heroTitle{
    margin: 0;
    font-size: 60px;
    color: rgba(24, 29, 39, 1);
    width: 768px;
    position: relative;
    z-index: 10;
    line-height: 72px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 24px;
}
.heroContent{
    margin: 152px auto 152px 32px;
    width: 600px;
}

.heroContent p{
    width: 560px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #535862;
    margin: 0;
    margin-bottom: 48px;
}
.heroImg{
    position: absolute;
    z-index: 1;
}
.contact{
    font-size: 18px;
    color: white;
    width: 146px;
    height: 60px;
    background-color: rgba(127, 86, 217, 1);
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-right: 9px;
    padding: 16px 24px;
}

.projects{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    font-size: 18px;
    color: #414651;
    background-color: #FFFFFF;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    border: 1px #D5D7DA solid;
    margin: 0;
    padding: 16px 24px;
}

.featuresSection{
    padding: 96px 0;
    background: #FAFAFA;
    display: grid;
    justify-items: center;
}

.pricipeTitleSection{
    width: 1280px;
    padding: 0 32px;
    width: 768px;
    margin-bottom: 64px;
}
.pricipeTitleSection div p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #6941C6;
    margin: 0;
    margin-bottom: 12px;
}

.pricipeTitleSection div h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: #181D27;
}
.pricipeTitleSection div{
    margin-bottom: 20px;
}

.pricipeTitleSection p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    text-align: center;
    color: #535862;
}

.principesGrid{
    display: grid;
    grid-template-columns: repeat(3,384px);
    column-gap: 32px;
    row-gap: 64px;
}
.pricipe{
    text-align: center;
}

.principeTitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-size: 20px;
    margin: 13px 0 8px;
    color: #181D27;
}

.pricipeDescription{
    color: #535862;
    /* font-family: Font family/font-family-body; */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.testimonialSection{
    width: 1440;
    height: 640;
    padding: 96px 0;
    display: grid;
    justify-content: center;
}

.testimonial{
    width: 1216px;
    height: 448px;
    background: #53389E;
    border-radius: 24px;
    display: flex;
}

.testimonialmg{
    width: 480px;
    height: 448px;
}

.commentWrapper{
    display: flex;
    padding: 71px 64px;
}

.commentary{
    justify-content: center;
}

.comment{
    margin-top: 24px;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 44px;
    font-weight: 500;
    margin-bottom: 32px;
    width: 608px;
    letter-spacing: -0.01em;
    /* word-spacing: 0%; */
}

.stars{
    display: flex;
    gap: 4px;
}

.star{
    margin: 1px;
}

.quotes{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    margin: 0;
    margin-bottom: 4px;
    color: #FFFFFF;
}

.major{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #E9D7FE;
    margin: 0;
    margin-bottom: 32px;
}

.pagination{
    display: flex;
    gap: 16px;
}

.sectionDivider{
    width: 1216px;
    height: 1px;
    background-color: #E9EAEB;
    border: none;
    margin: auto 0;
}

.blogSection{
    /* margin: 0; */
    display: grid;
    margin: 0;
    padding: 96px 80px;
    padding-bottom: 0;
    margin-bottom: 96px;
    /* padding-bottom: 0; */
}

.lastProjectsContainer{
    margin: 0;
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(3,384px);
    gap:32px;
    margin-left: 32px;
    margin-bottom: 64px;
}

.projectGridContainer{
    padding-bottom: 24px;
}

.lastProjectsTitleContainer{
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    justify-content: center;
    width: 1280px;
}

.lastProjectsTitleContainer div{
    padding: 0 336px;
    width: 768px;
    margin-bottom: 64px;
}

.projectsGridImage{
    width: 384px;
    height: 240px;
    border-radius: 16px;
    margin: 0;
    margin-bottom: 16px;
}
.lastProjects{
    color: #6941C6;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 12px;
}
.lastProjectsTitle{
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;

    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
}
.lastProjectsDescription{
    margin: 0;
    font-size: 20px;
    font-weight: 30px;
    color: #535862;
    font-weight: 400;
    font-size: 20px;
    line-height:30px;
    text-align: center;
}

.category{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #6941C6;
    margin: 0;
    margin-bottom: 8px;
}

.nameProject{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #181D27;
    margin: 0;
    margin-bottom: 8px;
}

.nameProject{
    display: flex;
    align-items: center;
}

.nameProject img{
    width: 12px;
    height: 12px;
    margin-left: auto;
    margin-right: 7px;
}

.descriptionProject{
    color: #535862;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
    width: 384.1px;
}

.toolsProject{
    font-size: 14px;
    color: #181D27;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
}

.dataProject{
    margin: 0;
    color: #535862;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.blogSection button{
    background-color: #7F56D9;
    border-radius: 8px;
    width: 168px;
    height: 48px;
    border: none;
    padding: 12px 18px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 556px;
}
